@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Figtree;
}

body,html {
    width: 100vw;
    height: 100vh;
}

body {
    background-color: hsl(47, 88%, 63%);
    position: relative;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    width: 340px;
    height: 485px;
    border-radius: 25px;
    box-shadow: 1px 1px 6px rgb(0, 0, 0);
}

div#image {
    border-radius: 10px;
    height: 185px;
    width: 100%;
    background-image: url('images/illustration-article.svg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 25px;
}

p#learning {
    background-color: #F4D050;
    color: black;
    font-weight: 800;
    padding: 5px;
    margin-bottom: 10px;
    width: 75px;
}

p#publish {
    margin-bottom: 10px;
    color: black;
}

div#one h1 {
    font-size: 1.6em;
    margin-bottom: 20px;
}

div#one p {
    color: hsl(0, 0%, 50%);
    margin-bottom: 20px;
}

div#two img {
    width: 40px;
}

div#two p {
    font-weight: bold;
    transform: translate(50px, -35px);
    font-size: 16px;
}